
<!DOCTYPE html5>  
<html> 
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificates Page</title> 
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<style>
label{
font-family: 'Cormorant', serif;
font-size: 30px;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 
.input-group-addon{
font-size:14px;
}


input.form-control:hover{
background-color:#d9d9d9;

}
 

</style>
</head>
	<body >

<div class="container">
<div class="card border-0 shadow my-5">
<div class="card-body p-5"  style="background-color:#0B2732;" >
<form action="success.html" onSubmit="return validateForm();" target="_blank" method="post" name="myform" id="myform" >

	<h1 class="font-weight-light" style="font-family: 'Cormorant', serif; color:white;"><center><b> FILL YOUR CERTIFICATIONS	 DETAILS HERE</b></center></h1>
    <center>  <small style="color:white;font-size:15px;">(upload your certificates documents to google drive and upload the google drive links here )</small></center>
	  <div style="height: 900px" name="req" id="req">
<br>

 <div class="form-group">
      <label for="inputdefault" style="color:white; font-size:20px;">Roll Number <small style="color:red; 	size="10px">*</small></label>
      <input class="form-control" style="width:100%;" pattern="CB\.EN\.U4CSE[1][7-9][0-9]{3}"  required="required" id="roll" autofocus = "autofocus"  maxlength="20"  name="roll"  type="text"><br>
    </div>



<div class="card border-0 shadow my-5">
<div class="card-body p-5">
    <h1 style="font-family: 'Cormorant', serif;"><center>Certifications </center></h1><br>
<div style="height: 600px" >
			<div class="row">
			<div class="col-sm-6">
	        <div class="input-group">
    			<span class="input-group-addon">Certification</span>
    			<input class="form-control" type="text" pattern="[a-zA-Z][a-zA-Z0-9\s]*" name="cert1" maxlength="40" id="cert1" style="width:900px;" placeholder="Name of the Certification"/>
    			<input class="form-control" pattern="https://drive.google.com/(.+)" type="url" name="proof1" id="proof1"   style="width:900px;" maxlength="200" placeholder="Drive Link of the Certificate"/>
    		</div>
    		</div>
			</div><br>
			<div class="row">
			<div class="col-sm-6">
	        <div class="input-group">
    			<span class="input-group-addon">Certification</span>
    			<input class="form-control" type="text" pattern="[a-zA-Z][a-zA-Z0-9\s]*" name="cert2"  style="width:900px;" id="cert2" maxlength="40" placeholder="Name of the Certification"/>
    			<input class="form-control" type="url" name="proof2"  pattern="https://drive.google.com/(.+)"  style="width:900px;"  id="proof2" maxlength="200" placeholder="Drive Link of the Certificate"/>
    		</div>
    		</div>
			</div>
	
		<br>
			<div class="row">
			<div class="col-sm-6">
	        <div class="input-group">
    			<span class="input-group-addon">Certification</span>
    			<input class="form-control" type="text" name="cert3"  pattern="[a-zA-Z][a-zA-Z0-9\s]*" maxlength="40" id="cert3" style="width:900px;" placeholder="Name of the Certification"/>
    			<input class="form-control" type="url" name="proof3"  pattern="https://drive.google.com/(.+)"  style="width:900px"  id="proof3" maxlength="200" placeholder="Drive Link of the Certificate"/>
    		</div>
    		</div>
			</div>
		<br>
			<div class="row">
			<div class="col-sm-6">
	        <div class="input-group">
    			<span class="input-group-addon">Certification</span>
    			<input class="form-control" type="text" name="cert4" pattern="[a-zA-Z][a-zA-Z0-9\s]*" id="cert4"  style="width:900px"  maxlength="40" placeholder="Name of the Certification"/>
    			<input class="form-control" type="url" name="proof4" pattern="https://drive.google.com/(.+)"  style="width:900px" id="proof4" maxlength="200" placeholder="Drive Link of the Certificate"/>
    		</div>
    		</div>
			</div>
		<br>
			<div class="row">
			<div class="col-sm-6">
	        <div class="input-group">
    			<span class="input-group-addon">Certification</span>
    			<input class="form-control" type="text" name="cert5" pattern="[a-zA-Z][a-zA-Z0-9\s]*"  maxlength="40"  id="cert5" style="width:900px;"  placeholder="Name of the Certification"/>
    			<input class="form-control" type="url" name="proof5" pattern="https://drive.google.com/(.+)"   maxlength="200" id="proof5" style="width:900px;" placeholder="Drive Link of the Certificate"/>
    		</div>
    		</div>
			</div>
	<br>
			<div class="row">
			<div class="col-sm-6">
	        <div class="input-group">
    			<span class="input-group-addon">Certification</span>
    			<input class="form-control" type="text" name="cert6" pattern="[a-zA-Z][a-zA-Z0-9\s]*" id="cert6"  maxlength="40"  style="width:900px;" placeholder="Name of the Certification"/>
    			<input class="form-control" type="url" name="proof6" pattern="https://drive.google.com/(.+)"  style="width:900px;" id="proof6"  maxlength="200" placeholder="Drive Link of the Certificate"/>
    		</div>
    		</div>
			</div>
	<br>
			<div class="row">
			<div class="col-sm-6">
	        <div class="input-group">
    			<span class="input-group-addon">Certification</span>
    			<input class="form-control" type="text" name="cert7" pattern="[a-zA-Z][a-zA-Z0-9\s]*" id="cert7" style="width:900px;" maxlength="40" placeholder="Name of the Certification"/>
    			<input class="form-control" type="url" name="proof7" pattern="https://drive.google.com/(.+)"  id="proof7" style="width:900px" maxlength="200" placeholder="Drive Link of the Certificate"/>
    		</div>
    		</div>
			</div>
	
			
</div>
</div>
</div>
</div>

			<div class="form-group">
				<input class="form-control"  style=" font-size:15px;"name="Submit"  type="Submit" value="SUBMIT"><br>
			</div>

</form>
</div>
</div>
</div>


<script>
function validateForm()
{
var cerc=0; 
var f=new Array(document.getElementById("cert1"), document.getElementById("proof1"),document.getElementById("cert2"), document.getElementById("proof2"),document.getElementById("cert3"), document.getElementById("proof3"),document.getElementById("cert4"), document.getElementById("proof4"),document.getElementById("cert5"), document.getElementById("proof5"),document.getElementById("cert6"), document.getElementById("proof6"),document.getElementById("cert7"), document.getElementById("proof7"));
var i=0;
for(i=0;i<f.length-1;i=i+2)
{

    if(f[i].value!="") 
	{
        if(f[i+1].value=="")
			{
			alert("Enter "+f[i].value+" Certification Document's Google Drive Link...");
			f[i+1].focus();
			return false;
		    }
	
	}
	else
	{
		if(f[i+1].value!="")
		{
		alert("Enter Certification Name First...");
		f[i].focus();
		return false;
		}
	
	}
	if(f[i].value!="" && f[i+1]!="")
	{
	
	cerc=cerc+1;

	}

}
alert("Successfull...You have entered "+cerc+" certificates totally.");



}
</script>

</body>  
</html>