
<!DOCTYPE html5>  
<html> 
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Language Page</title> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js "></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
<style>
label{
font-family: 'Lato', sans-serif;
font-size: 30px;
}
body {
   -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
   }
   
.input-group-addon{
font-size:14px;
}
</style>
</head>
	<body >

<div class="container">
  <div class="card border-0 shadow my-5">
   <div class="card-body p-5" style="background-color:#0B2732" >
<form action="" onSubmit="return validateForm();" name="myform" id="myform" >
	<h1 class="font-weight-light" style="font-family: 'Cormorant', serif; color:white;"><center><b> &#128515 FILL YOUR LANGUAGE DETAILS HERE</b></center></h1>
    <center>  <small style="color:white;font-size:18px;"></small></center>
	  <div style="height: 850px" >
<br>

 <div class="form-group">
      <label for="inputdefault" style="color:white; font-size:18px;">Roll Number <small style="color:red; 	size="10px">*</small></label>
      <input class="form-control" style="width:100%;"  id="roll" autofocus = "autofocus"  maxlength="16"  name="roll"  type="text"><br>
    </div>



 <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
     <h1 style="font-family: 'Cormorant', serif;"> <center >LANGUAGE </center></h1><br>
      <div style="height: 500px" >
<div class="row">
	    <div class="col-sm-6">
	        
    		<div class="input-group">
    			<span class="input-group-addon">Language 1</span>
    			<input class="form-control" type="text" name="lang1" maxlength="108" style="width: 300px" placeholder="LANGUAGE"/>
    		</div>
		</div>
	</div>
	<br><div class="row">
	    <div class="col-sm-6">
	        
    		<div class="input-group">
    			<span class="input-group-addon">Language 2</span>
    			<input class="form-control" type="text" name="lang2" maxlength="108"style="width: 300px" placeholder="LANGUAGE"/>
    		</div>
    		
		</div>
	</div>
	<br><div class="row">
	    <div class="col-sm-6">
	        
    		<div class="input-group">
    			<span class="input-group-addon">Language 3</span>
    			<input class="form-control" type="text" name="lang3" maxlength="108"style="width: 300px" placeholder="LANGUAGE"/>
    		</div>
    		
		</div>
	</div>
	<br><div class="row">
	    <div class="col-sm-6">
	        
    		<div class="input-group">
    			<span class="input-group-addon">Language 4</span>
    			<input class="form-control" type="text" name="lang4" maxlength="108"style="width: 300px" placeholder="LANGUAGE"/>
    		</div>
    		
		</div>
		
	</div>
	<br><div class="row">
	    <div class="col-sm-6">
	        
    		<div class="input-group">
    			<span class="input-group-addon">Language 5</span>
    			<input class="form-control" type="text" name="lang5" maxlength="108"style="width: 300px" placeholder="LANGUAGE"/>
    		</div>
    		
		</div>
	</div>
	
	
</div>
</div>
</div>



</div>
<div class="form-group">
      <input class="form-control"  name="Submit"  type="Submit" value="Submit", onclick="validateForm()"><br>
    </div>
	
</form>	
</div>


</div>
</div>
<script>
function validateForm()
{
//var fields=new Array();
//var fields=[document.myform.roll.value,document.myform.cert1.value,document.myform.proof1.value,document.myform.cert2.value,document.myform.proof2.value,document.myform.cert3.value,document.myform.proof3.value,document.myform.cert4.value,document.myform.proof4.value,document.myform.cert5.value,document.myform.proof5.value,document.myform.cert6.value,document.myform.proof6.value,document.myform.cert7.value,document.myform.proof7.value];
var flds=document.getElementById("myform").elements;
if(flds[0].value=="" || flds[0].value == null)
{
alert("Roll Number cannot be empty");
roll.focus();
return false;
}
var regex = /[CB.EN.U4CSE][1][7-9][4][0-9][1-9]/;
var langregex = /[a-zA-Z]*/;
if(regex.test(flds[0].value) == false)
{
   alert("Enter valid Roll Number");
   roll.focus();
   return false;
}
var cerc=0;
//https://drive.google.com/file/d/1f-_JvG8oxnTjcrr-GSkOIRi4OcQoI2Bf/view?usp=sharing
for (var i = 1; i < flds.length-1; i+=1) 
{
    if(flds[i].value!==null) 
	{
        if(langregex.test(flds[i].value) == false)
		{
		   alert("Enter valid language name");
		   roll.focus();
		   return false;
		}
		else
		{
		cerc=cerc+1;
		}
	}	
}

alert("Submission is Successful :)");
}
</script>
</body>  
</html>