<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skills</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  </head>
  <body>
      <section class="hero is-primary is-fullheight">

          <div class="hero-body">
              <div class="container">
                <div class="columns is-5-tablet is-4-desktop is-3-widescreen">
                    <div class="column">
                        <form class = "box has-background-white-ter" id="skform" method="POST">

                            <h1 style="font-family: Bangers; font-size: xx-large;">Skills</h3>
                                <br>

                            <!-- <progress class="progress is-primary" value="15" max="100">15%</progress> -->
                            <script type="text/javascript">
                                    let counter = 1;
                                    function handleSubmit() {
                                    const limit = 8;
                                    const parentDiv = document.getElementById('skills')

                                    function addInput(divName) {
                                        if (counter == limit) {
                                        alert("You have reached the limit of adding " + counter + " skills");
                                        } else {
                                        var newdiv = document.createElement("div");
                                        newdiv.innerHTML =
                                            '<div class="control">Skill ' +
                                            (counter + 1) +
                                            ': <p> <input type="text" class="input is-rounded" name="myInputs[]" id="dynamicInput" maxlength="50" placeholder="Skill"></p> </div><br>';
                                        parentDiv.appendChild(newdiv);
                                        counter++;
                                        }
                                    }
                                    addInput();
                                    }
                                
                                </script>

                                <div class="control" id="dynamicInput">
                                    Skill 1: 
                                    <p class="control has-icons-left"> 
                                        <input class="input is-rounded" type="text" name="myInputs[]"  maxlength="50" placeholder="Skill" >
                                        <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                        </span>
                                    </p>
                                </div>
                                <br>

                                <div id="skills"></div>
                                
                                <div class="buttons">
                                    <button class="button is-success is-rounded" type="submit" form="skform">Submit</button>
                                    <button class="button is-info is-rounded" type="button" onclick="handleSubmit()">Add another Skill!</button>
                                  </div>
                        </form>
                    </div>
                </div>
              </div>
          </div>
      </section>

        
  </body>
</html> 