<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Social media profiles</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
    <script src="https://kit.fontawesome.com/495ff72d66.js" crossorigin="anonymous"></script>
    <script src="../scripts/socialValidate.js"></script>
  </head>
  <body>
    
  <!-- <div class="container"> -->
    <section class="hero is-warning">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Social media profiles
          </h1>
          <h2 class="subtitle">
            Your social space.
          </h2>
        </div>
      </div>
    </section>
 <!-- </div> -->

 <br>
 <div class="container">
 
 <form action="" method="" onsubmit="onSubmitSocial()">
  <i class="fab fa-facebook fa-3x"></i>
  <input class="input is-medium is-info" id="facebook" type="text" placeholder="Link to facebook profile">
  <br><br>
  <i class="fab fa-linkedin fa-3x"></i>
  <input class="input is-medium is-info" id="linkedin" type="text" placeholder="Link to linkedIn profile">
  <br><br>
  <i class="fab fa-twitter-square fa-3x"></i>
  <input class="input is-medium is-info" id="twitter" type="text" placeholder="Link to twitter profile">
  <br><br>
  <i class="fab fa-github-square fa-3x"></i>
  <input class="input is-medium is-info" id="github" type="text" placeholder="Link to github profile">
  <br><br>
  <i class="fab fa-instagram-square fa-3x"></i>
  <input class="input is-medium is-info" id="instagram" type="text" placeholder="Link to instagram profile">
  <br><br>
  <button class="button is-dark is-fullwidth is-large" type="submit">Submit</button>
  <br><br>
</form>

<!-- <footer>
  
</footer> -->

</div>
</body>
</html>
